.afraid {
  background-color: white;
  padding-top: 0;

  @include breakpoint($lg-max) {
    padding-top: 20px;
  }

  &__star {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 455px;
    width: 455px;

    @include breakpoint($lg-max) {
      height: 250px;
      width: 250px;
    }

    &-wrapper {
      @extend %flex_between;
      justify-content: center;
      gap: 22px;
      flex-wrap: wrap;
      margin-top: 55px;
      margin-bottom: 40px;

      @include breakpoint($lg-max) {
        margin-top: 20px;
        margin-bottom: 10px;
        gap: 0;
      }
    }

    &-pink {
      background: url("../images/pink_star.png") top left/contain no-repeat;
    }

    &-year {
      font-family: $montserrat;
      font-size: 22px;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      padding: 8px 26px;
      border-radius: 38px;
      margin-bottom: 32px;

      @include breakpoint($lg-max) {
        padding: 4px 13px;
        font-size: 13px;
        margin-bottom: 15px;
      }

      &-pink {
        background: $color_pink-dark;
      }

      &-mint {
        background: $bg_mint-deep;
      }
    }

    &-average {
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 20px;

      @include breakpoint($lg-max) {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }

    &-point {
      font-family: $montserrat;
      font-size: 74.43px;
      font-weight: 500;
      line-height: 1;

      @include breakpoint($lg-max) {
        font-size: 38px;
      }
    }

    &-mint {
      background: url("../images/mint_star.png") top left/contain no-repeat;
    }
  }

  &__bottom {
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 700;
    background: $color_mint;
    border-radius: 42px;
    padding: 24px 0;
    text-align: center;

    @include breakpoint($lg-max) {
      border-radius: 18px;
    }

    span {
      font-size: 24px;
      font-weight: 800;

      @include breakpoint($lg-max) {
        font-size: 20px;
      }
    }
  }
}