.footer {
  background: $color_mint;
  padding: 200px 0 100px 0;

  @include breakpoint($lg-max) {
    padding: 100px 0 50px 0;
  }

  &__inner {
    @extend %flex_between;
    align-items: flex-end;

    @include breakpoint($md-max) {
      flex-direction: column;
      align-items: flex-start;
      gap: 35px;
    }
  }

  &__service {
    @extend %flex_between;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
  }

  &__service-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: underline;
  }

  &__policy {
    @extend .footer__service;
  }

  .back-to-top {
    @extend %flex_between;
    flex-direction: column;
    gap: 3px;
    height: 100px;
    width: 70px;
    padding: 15px;
    border: 1px solid $color_text-black;
    border-radius: 18px;
    cursor: pointer;
    color: $color_text-black;
    position: fixed;
    bottom: -100%;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(.63,-.44,.38,1.26);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);

    @include breakpoint($lg-max) {
      height: 80px;
      width: 60px;
      right: 15px;
    }

    span {
      font-family: $bad_script;
      font-size: 18px;
      font-style: italic;
      font-weight: 600;
      line-height: 1.2;

      @include breakpoint($lg-max) {
        font-size: 14px;
      }
    }

    img {
      @include breakpoint($lg-max) {
        height: 35px;
      }
    }

    &.show {
      visibility: visible;
      bottom: 5%;
      opacity: 1;
      @include breakpoint($lg-max) {
        bottom: 2%;
      }
    }
  }
}