@import "service";
@import "common";
@import "sections";

* {
  box-sizing: border-box;
}


body {
  font-family: $montserrat;
  color: $color_white;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 100px 0;

  @include breakpoint($lg-max) {
    padding: 50px 0;
  }
}