<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= require('.//images/crown.svg') %>">
    <title>PRO100</title>
</head>
<body>
<header class="header">
    <div class="header__inner container">
        <img class="header__logo"
             src="<%= require('.//images/Logo.svg') %>"
             alt="просто"
        >

        <div class="header__link-wrapper">
            <a class="header__link"
               href=""
            >
                Курс
            </a>

            <a class="header__link"
               href=""
            >
                Попробовать бесплатно
            </a>

            <a class="header__link"
               href=""
            >
                Тарифы
            </a>
        </div>

        <div class="header__mobile hidden">
            <img class="header__mobile-burger header__mobile-icon"
                 src="<%= require('.//images/burger.svg') %>"
                 alt="просто"
            >

            <img class="header__mobile-cross header__mobile-icon"
                 src="<%= require('.//images/cross.svg') %>"
                 alt="просто"
            >
        </div>
    </div>
</header>

<!--    <img src="<%= require('.//images/crown.svg') %>" alt="">-->

<main>
    <section class="subheader">
        <div class="container subheader__inner">
            <div class="subheader__left">
                <div class="subheader__left-date">
                    сентябрь - май
                </div>

                <div class="subheader__left-text">
                    <h1 class="subheader__left-title">
                        Не душный <br>
                        <hr>
                        <span>
                            Курс егэ огэ по общаге
                        </span>
                    </h1>
                </div>
            </div>

            <div class="subheader__right">
                <div class="foto__card">
                    <div class="foto__card-img_wrapper">
                        <img class="foto__card-img"
                             src="<%= require('.//images/main.png') %>"
                             alt="Еремина Татьяна"
                        >
                    </div>
                </div>

                <div class="subheader__right-text">
                    <p class="subheader__right-about">
                        Еремина Татьяна - автор уникальной программы подготовки к ЕГЭ
                        по обществу для любого уровня
                    </p>

                    <div class="subheader__right-point">
                        <img src="<%= require('.//images/85.svg') %>" alt="на 85+">
                    </div>

                    <img class="subheader__right-arrow"
                         src="<%= require('.//images/curved_arrow-top.svg') %>"
                         alt="стрелка вверх"
                    >
                </div>
            </div>

            <img    class="subheader__bg"
                    src="<%= require('.//images/subheader_bg.svg') %>"
                    alt="фон звезда"
            >

            <img    class="subheader__bg-wave"
                    src="<%= require('.//images/wave_white.svg') %>"
                    alt="фон волна"
            >
        </div>
    </section>

    <section class="afraid">
        <div class="container">
            <div class="section__top">
                <h2 class="section__top-title">
                    БОИШЬСЯ НЕ СДАТЬ?
                </h2>

                <div class="section__top-left">
                    <img class="section__top-left-img"
                         src="<%= require('.//images/easy.svg') %>"
                         alt="да"
                    >

                    <div class="section__top-left-text">
                        НЕ ДРЕЙФЬ, МЫ ПОМОЖЕМ!
                    </div>
                </div>
            </div>

            <div class="section__subheader">
                С НАМИ ВЫ ТОЧНО ПОСТУПИТЕ!!!!
            </div>

            <div class="afraid__star-wrapper">
                <div class="afraid__star afraid__star-pink">
                    <span class="afraid__star-year afraid__star-year-pink">2022 ГОД</span>
                    <span class="afraid__star-average">средний балл</span>
                    <span class="afraid__star-point">80.22</span>
                </div>

                <div class="afraid__star afraid__star-mint">
                    <span class="afraid__star-year afraid__star-year-mint">2023 ГОД</span>
                    <span class="afraid__star-average">средний балл</span>
                    <span class="afraid__star-point">75.68</span>
                </div>

                <div class="afraid__star afraid__star-pink">
                    <span class="afraid__star-year afraid__star-year-pink">2024 ГОД</span>
                    <span class="afraid__star-average">средний балл</span>
                    <span class="afraid__star-point">78.53</span>
                </div>
            </div>

            <div class="afraid__bottom">
                <span>62.15 %</span> Наших выпускников - высокобальники
            </div>
        </div>
    </section>

</main>

<footer></footer>
</body>
</html>