$color_mint: #58B7B5;
$bg_mint-deep: #109D9A;
$color_pink: #F2ACAE;
$color_pink-dark: #CE7174;
$color_text-black: #404040;
$color_text-pink:#B56063;
$color_white: #ffffff;

$bg_pink: #F2ACAEA3;
$bg_pink-deep: #E87AA1;

$montserrat: "Montserrat", sans-serif;
$bad_script: "BadScript", sans-serif;

$transition: .3s linear;

$radius: 12px;
$radius_big: 42px;


%flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}